<style>
  body {
      margin: 0;
      padding: 0;
  }

  div{
      background: #333;
      color: #f9f9f9;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
  }

  .o-navitem {
    border: #000;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    text-decoration: none;
    background-color: beige;
    padding: 4px;
  }
</style>

<div>
  <a class="o-navitem" href="/">Home</a>
  <a class="o-navitem" href="/hits">Hits</a>
  <a class="o-navitem" href="/add">Add USer</a>
</div> 