<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes for {{name}}</title>
</head>
<body>
    {% include 'components/navbar.html' %}
    <div>
        <p>Take notes for: {{name}}</p>
        <form method="post">
            <textarea name="notes" rows="4" cols="50">{{notes}}</textarea>
            <input type="submit" value="Add notes">
          </form>
    </div>
    
</body>
</html>