<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="src/static/index.css" />
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
  <script>
    function today () {
      const date = new Date();
      const month = `${date.getMonth()+1}`.padStart(2, '0')
      const day = `${date.getDate()}`.padStart(2, '0')
      return `${date.getFullYear()}-${month}-${day}`
    }
  </script>
</head>

<body>
  {% include 'components/navbar.html' %}
  <div class="c-content">
      {% block content %}{% endblock %}
  </div>

</body>

</html>